*.class
*.log
.idea/
.idea/*
.idea/codeStyles
.idea/libraries
project/build.properties
project/target/config-classes/$207513bb3c7c1e2cde8c.cache
project/target/config-classes/$4d6e4b66943c7159642f.cache
project/target/config-classes/$776a173212a64413311e.cache
project/target/config-classes/$8084288a4dbab0060061.cache
project/target/config-classes/$c93e7ba99f5238db9fcc.cache
project/target/scala-2.12/
project/target/streams/
target/
src/test/
src/main/resources/data
/build
/gradle
/.gradle
